// MEDIA QUERY MIXINS

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}
.settings{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #121212;
    
    h2{
      margin-top: 10%;
      @include sm{
        margin-top: 30%;
      }
    }

    .buttons{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 3vw;
      margin-top: 2vh;

      h4{
        margin-right: 10px;
      }
    }
    
    .image-upload{
      margin-left: 3vw;
      margin-top: 3%;
      margin-bottom: 3%;
     
      input[type = submit]:disabled{
        background: #333;
        color: #121212;
        border: 0;
        border-radius: 10px;
        height: 5vh;
        width: 5vw;
        font-family: "Lato";
        font-weight: 700;
        @include sm {
          height: 35px;
          width: 80px;
        }
      }
      input[type = submit]{
        background: #a451ad;
        border: 0;
        border-radius: 10px;
        height: 5vh;
        width: 5vw;
        color: #e6e6e6;
        font-family: "Lato";
        font-weight: 700;
        @include sm {
          background: rgba(65, 96, 251, 0.85);
          height: 35px;
        }
      }

    }
    .settings-bio{
      width: 30%;
      // margin-left: 3vw;
      margin-top: 4vh;
      h4{
        margin-left: 3vw;
      }
      textarea{
        margin-left: 3vw;

       }
       .submit-button{
        margin-left: 3vw;
        button{
          width: 100%;
        }
       }
      @include sm{
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       form{
         margin: 0;
         
         .submit-button{
           width: 100%;
           margin: 0 auto;
           display: flex;
           align-items: center;
           justify-content: center;
         }
       }
      }
    }
    
    

}