// MEDIA QUERY MIXINS
 
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
 
// Small tablets (portrait view)
$screen-md-min: 768px;
 
// Tablets and small desktops
$screen-lg-min: 992px;
 
// Large tablets and desktops
$screen-xl-min: 1200px;
 
// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}
 
// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}
 
// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}
 
// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}
nav{
    width: 100%;
    height: 9vh;
    position: fixed;
    top: 0;
    background: linear-gradient(90deg, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    z-index: 9000;
    overflow: visible;
    @include sm{
      height: 75px;
      display: flex;
      justify-content: center;
      align-content: center;
    }
    h4{
        margin: 0;
        margin-left: 3vw;
        font-size: 25px;
        @include sm{
            margin-left: 0;
            font-size: 30px;
        }
    }
    // .search-box{
    //   position: relative;
    //   overflow: visible;
    // }
    input{
        width: 80%;
        color: #e6e6e6;
        font-size: 16px;
        border: 0;
        background: transparent;
        border-bottom: 1px solid #e6e6e6;
        @include sm{
            display: none;
        }
    }
    input::placeholder {
        color: #e6e6e6;
        font-family: "Lato";
        font-weight: 200;
        font-size: 16px;
      }
    input:focus {
        border-bottom: 2px solid #fff;
      }
      .search-suggestions{
        background: #121212;
        border-radius: 5px;
        position: absolute;
        margin-top: 5px;
        padding: 5px 0 10px 5px;
        bottom: -3;
        width: 27%;
        max-height: 300px;
        display: none;
        // overflow: scroll;
      }
    .nav-icons{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        margin: 0 auto;
        @include sm{
            display: none;
        }
        
    }
    .logout-button{
      display: none;
      @include sm{
        display: block;
        position: absolute;
        left: 1em;
        align-self: center;
        font-size: 25px;
    }
    }
    .settings-button{
      display: none;
      @include sm{
        display: block;
        position: absolute;
        right: 1em;
        top: 35%;
        // bottom:50%;
        align-self: center;
        font-size: 26px;
    }
    }
    a{
        text-decoration: none;
        color: #e6e6e6;

    }
}