/* LATO FONT FROM GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");


/* GENERAL */
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  height: 100vh;
}
h1 {
  font-weight: 300;
  font-size: 74px;
  margin-bottom: 5%;
}

h2 {
  font-weight: 300;
  font-size: 30px;
}


