/* LATO FONT FROM GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");


/* GENERAL */
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  height: 100vh;
}
h1 {
  font-weight: 300;
  font-size: 74px;
  margin-bottom: 5%;
}

h2 {
  font-weight: 300;
  font-size: 30px;
}

input, textarea{
  -webkit-appearance: none;
}

a{
  text-decoration: none;
  color: #e6e6e6;

}

.loading{
  background: #121212;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.loading-content{
  position: absolute;
  top: 45%;
  text-align: center;
  width: 30%
}
.loading-content hr{
  background: linear-gradient(90deg, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
  height: 5px;
  border: none;
}