// MEDIA QUERY MIXINS

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}
#chat {
  color: #e6e6e6;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #121212;
 .chat-container{
  width: 50vw;
margin: 0 auto;
@include sm{
  margin: auto;
  width: 100vw;
}
 }
  ul {
    list-style-type: none;
    color: #fff;
    // width: 40%;
    height: 450px;
    margin: 0 auto;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #121212;
    overflow: auto;
    @include sm {
      width: 100vw;
      margin: 0;
      margin-top: 10vh;
          margin-bottom: 6rem;
      padding: 10px;
      max-height: 800px;
    }
  }
  ul::-webkit-scrollbar {
    width: 2px;
    height: 10px;
  }
  ul::-webkit-scrollbar-thumb{
    background: linear-gradient(
      180deg,
      rgba(252, 70, 107, 1) 0%,
      rgba(63, 94, 251, 1) 100%
    );
    outline: 1px solid slategrey;
  }
  li {
    max-width: 50%;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .other-user-name{
    position: fixed;
    top: 7vh;
    width: 100vw;
    background: #121212;
    padding: 20px 0;
    margin-left: 0;
    max-width: 100%;
    @include sm{
      font-size: 18px;
    }
  }
  .me {
    // background: linear-gradient(
    //   90deg,
    //   rgba(252, 70, 107, 1) 0%,
    //   rgba(63, 94, 251, 1) 100%
    // );
    background: #c74d94;
    border-radius: 10px 10px 10px 0;
    align-self: flex-start;
  }

  .you {
    // background: linear-gradient(
    //    90deg,
    //    rgba(63, 94, 251, 1) 0%,
    //    rgba(252, 70, 107, 1) 100%
    //  );
    background: #7358d4;
    border-radius: 10px 10px 0px 10px;
    align-self: flex-end;
  }

  form {
    display: flex;
    align-items: center;
    position: fixed;
    background: #121212;
    bottom: 3rem;
    width: 50%;
    padding-bottom: 1rem;
    // height: 50%;
@include sm{
  width: 100%;
}
    input {
      width: 90vw;
      color: #e6e6e6;
      font-size: 16px;
      border: 0;
      background: transparent;
      border-bottom: 1px solid #e6e6e6;
      width: 90%;
      margin-left: 20px;
    }
    button {
      background-color: transparent;
      width: 4rem;
      align-self: baseline;
    }
  }
}
