// MEDIA QUERY MIXINS

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}
.post-card-container{
  padding-bottom: 5%;
  @include sm{
    padding-bottom: 20%;
  }
}
.post-card {
  background: #1f1f1f;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
  @include sm {
    width: 100%;
  }
  .editing-icons{
    position: absolute;
    right: 10px;
    top: 10px;
    i{
      font-size: 18px;
      margin-left: 10px ;
    }
  }
  // .delete-button {
  //   position: absolute;
  //   font-size: 18px;
  //   right: 10px;
  //   top: 10px;
  // }
  .basic-info {
    display: flex;
    align-items: center;

    h5 {
      padding-left: 5px;
    }
  }
  .content {
    width: 90%;
    padding-bottom: 15px;
  }

  .action-icons {
    display: flex;
    justify-content: space-evenly;
    .material-icons {
      font-size: 20px;
    }
    .likes {
      display: flex;
      align-items: center;
      .material-icons {
        margin-right: 5px;
      }
    }
  }
}
.comment-container {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  @include sm {
    margin-top: 6%;
  }
  input {
    -webkit-appearance: none;
    color: #e6e6e6;
    font-size: 16px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #e6e6e6;
    width: 90%;
  }
  input::placeholder {
    color: #e6e6e6;
    font-family: "Lato";
    font-weight: 200;
    font-size: 16px;
  }
  input:focus {
    border-bottom: 2px solid rgba(65, 96, 251, 1);
  }

  .material-icons {
    margin-top: 2%;
    margin-left: 2%;
  }
}
#delete-modal, #edit-modal {
  background: #7b56cd;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
  display: none;
  text-align: center;
  @include sm {
    width: 90%;
  }
  #delete-choices {
    display: flex;
    justify-content: space-around;
  }
}
