.post-card{
    background: #1f1f1f;
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    .basic-info{
        display: flex;
        align-items: center;
       
        h5{
            padding-left: 5px;
        }

    }

    .action-icons{
        display: flex;
        justify-content: space-evenly;
        
        .material-icons{
            font-size: 20px;
        }
    }

}