// MEDIA QUERY MIXINS
 
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
 
// Small tablets (portrait view)
$screen-md-min: 768px;
 
// Tablets and small desktops
$screen-lg-min: 992px;
 
// Large tablets and desktops
$screen-xl-min: 1200px;
 
// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}
 
// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}
 
// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}
 
// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}
.container {
  position: absolute;
  top: -5%;
  right: 5vw;
  background: #1f1f1f;
  width: 35vw;
  min-height: 80vh;
  max-height: 85vh;
  border-radius: 10px;
  @include sm {
    background: transparent;
    position: relative;
    right: auto;
    top: auto;
    margin: 0 auto;
    width: 85vw;
    height: 30vh;
    margin-top: 10vh;
  }
}
h3 {
  font-weight: 800;
  font-size: 35px;
  padding-top: 5%;
  @include sm{
    display: none;
  }
}
 
form {
  @include sm{
    margin: 0 auto;
  }
  label {
    margin-right: 10px;
  }
  .form-field {
    -webkit-appearance: none;
    color: #e6e6e6;
    font-size: 16px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10%;
    width: 90%;
    
  }
  .form-field::placeholder {
    color: #e6e6e6;
    font-family: "Lato";
    font-weight: 200;
    font-size: 16px;
  }
  .form-field:focus {
    border-bottom: 2px solid rgba(65, 96, 251, 1);
  }
  .bio-form{
    margin-bottom: 0;
    padding-bottom: 0;
    width: 90%;
    min-height: 100px;
    resize: none;
  }
  .character-counter{
    right: 0;
    margin:0 5% 10% 0;
    padding: 0;
    text-align: right;
    display: block;
  }
  .bio-error{
    color: #B00020
  }
  button {
    background: #a451ad;
    border: 0;
    border-radius: 10px;
    width: 80%;
    height: 5vh;
    color: #e6e6e6;
    font-family: "Lato";
    font-weight: 700;
    @include sm{
      background: rgba(65, 96, 251, 0.85);
      height: 35px;
    }
  }
  .signup-link{
    color: #fff;
    font-weight: 500;
  }
  
}
 

