// MEDIA QUERY MIXINS

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

.mobile-navbar {
  display: none;
  @include sm {
    position: fixed;
    bottom: 0;
    background: #1f1f1f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    i {
      font-size: 30px;
    }
    a {
      text-decoration: none;
      color: #e6e6e6;
    }
    #mobile-search {
      z-index: -1;
      background: #1f1f1f;
      display: none;
      position: absolute;
      height: 200vh;
      width: 100%;

      .search-box {
        position: fixed;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 30%;
        input {
          width: 90vw;
          height: 20px;
          color: #e6e6e6;
          font-size: 20px;
          border: 0;
          background: transparent;
          border-bottom: 1px solid #e6e6e6;
        }
        input::placeholder {
          color: #e6e6e6;
          font-family: "Lato";
          font-weight: 200;
          font-size: 16px;
        }
        input:focus {
          border-bottom: 2px solid #fff;
        }
        #search-suggestions {
          font-size: 20px;
          position: fixed;
          margin-top: 16vh;
          margin: 0 auto;
          overflow: scroll;
        }
      }
    }
    #notifications-container,
    #chat-container, #new-chat-container {
      z-index: -1;
      background: #121212;
      display: none;
      position: absolute;
      height: 200vh;
      width: 100%;
      margin-top: 45%;
      h4 {
        font-size: 25px;
        margin-left: 10px;
      }
      .notifications {
        height: 60vh;
        overflow-y: scroll;
      }
      .notification {
        display: flex;
        justify-content: space-between;
        color: #fefefe;
        background: #1f1f1f;
        padding: 20px 10px 20px 10px;
        width: 100%;
        margin: 0 auto;
        position: relative;

        .delete-button {
          font-size: 20px;
          justify-self: flex-end;
          align-self: flex-end;
        }
      }

      .chat-card {
        background: #1f1f1f;
        padding: 0px 10px 10px 10px;
        border-radius: 10px;

        h5{
          font-size: 20px;
        }

      }
      
      button{
        background: #7657d1;
        position: absolute;
        right: 10px;
        top: 35%;
        border: 0;
        border-radius: 10px;
        width: 6rem;
        height: 3rem;
        color: #e6e6e6;
        font-family: "Lato";
        font-weight: 700;
        font-size: 16px;
      }
    }
    // .loading{
    //   position: absolute;
    //   width: 100vw;
    //   height: 100vh;
    //   background-color: #121212;
    //   text-align: center;
    // }
  }
}
