// MEDIA QUERY MIXINS
 
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
 
// Small tablets (portrait view)
$screen-md-min: 768px;
 
// Tablets and small desktops
$screen-lg-min: 992px;
 
// Large tablets and desktops
$screen-xl-min: 1200px;
 
// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}
 
// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}
 
// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}
 
// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

.mobile-navbar{
    @include sm{
        position: absolute;
        bottom: 0;
        background: #1f1f1f;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 48px;
        display: flex;
        justify-content: space-around;
        align-items: center;
       i{
        font-size: 30px;
       }
       a{
        text-decoration: none;
        color: #e6e6e6;

    }
    }
}