.mobile-navbar {
  display: none; }
  @media (max-width: 576px) {
    .mobile-navbar {
      position: fixed;
      bottom: 0;
      background: #1f1f1f;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
      height: 48px;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .mobile-navbar i {
        font-size: 30px; }
      .mobile-navbar a {
        text-decoration: none;
        color: #e6e6e6; }
      .mobile-navbar #mobile-search {
        z-index: -1;
        background: #1f1f1f;
        display: none;
        position: absolute;
        height: 200vh;
        width: 100%; }
        .mobile-navbar #mobile-search .search-box {
          position: fixed;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 30%; }
          .mobile-navbar #mobile-search .search-box input {
            width: 90vw;
            height: 20px;
            color: #e6e6e6;
            font-size: 20px;
            border: 0;
            background: transparent;
            border-bottom: 1px solid #e6e6e6; }
          .mobile-navbar #mobile-search .search-box input::placeholder {
            color: #e6e6e6;
            font-family: "Lato";
            font-weight: 200;
            font-size: 16px; }
          .mobile-navbar #mobile-search .search-box input:focus {
            border-bottom: 2px solid #fff; }
          .mobile-navbar #mobile-search .search-box #search-suggestions {
            font-size: 20px;
            position: fixed;
            margin-top: 16vh;
            margin: 0 auto;
            overflow: scroll; }
      .mobile-navbar #notifications-container,
      .mobile-navbar #chat-container, .mobile-navbar #new-chat-container {
        z-index: -1;
        background: #121212;
        display: none;
        position: absolute;
        height: 200vh;
        width: 100%;
        margin-top: 45%; }
        .mobile-navbar #notifications-container h4,
        .mobile-navbar #chat-container h4, .mobile-navbar #new-chat-container h4 {
          font-size: 25px;
          margin-left: 10px; }
        .mobile-navbar #notifications-container .notifications,
        .mobile-navbar #chat-container .notifications, .mobile-navbar #new-chat-container .notifications {
          height: 60vh;
          overflow-y: scroll; }
        .mobile-navbar #notifications-container .notification,
        .mobile-navbar #chat-container .notification, .mobile-navbar #new-chat-container .notification {
          display: flex;
          justify-content: space-between;
          color: #fefefe;
          background: #1f1f1f;
          padding: 20px 10px 20px 10px;
          width: 100%;
          margin: 0 auto;
          position: relative; }
          .mobile-navbar #notifications-container .notification .delete-button,
          .mobile-navbar #chat-container .notification .delete-button, .mobile-navbar #new-chat-container .notification .delete-button {
            font-size: 20px;
            justify-self: flex-end;
            align-self: flex-end; }
        .mobile-navbar #notifications-container .chat-card,
        .mobile-navbar #chat-container .chat-card, .mobile-navbar #new-chat-container .chat-card {
          background: #1f1f1f;
          padding: 0px 10px 10px 10px;
          border-radius: 10px; }
          .mobile-navbar #notifications-container .chat-card h5,
          .mobile-navbar #chat-container .chat-card h5, .mobile-navbar #new-chat-container .chat-card h5 {
            font-size: 20px; }
        .mobile-navbar #notifications-container button,
        .mobile-navbar #chat-container button, .mobile-navbar #new-chat-container button {
          background: #7657d1;
          position: absolute;
          right: 10px;
          top: 35%;
          border: 0;
          border-radius: 10px;
          width: 6rem;
          height: 3rem;
          color: #e6e6e6;
          font-family: "Lato";
          font-weight: 700;
          font-size: 16px; } }

/*# sourceMappingURL=mobile-navbar.css.map */
