.profile-container {
  background: #121212;
}
.profile {
  color: #e6e6e6;
  position: relative;
  background: #121212;
  position: relative;
  padding-top: 15vh;
  height: 100%;
  width: 80vw;
  margin: 0 auto;

  .header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    .user-info {
      div {
        margin-bottom: 10px;
      }
      .name {
        h4 {
          font-size: 30px;
          margin-bottom: 0;
          margin-top: 0;
        }
      }
      .follow {
        display: flex;
        span {
          margin-right: 8px;
        }
      }
    }
  }
  .user-image {
    .material-icons {
      font-size: 145px;
    }
  }

  .content-headers {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5vh;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  hr{
      margin-top: 0;
      border: .5px solid #e6e6e6;
  }
}
